.cart-nfts{
    background-image: linear-gradient(to right, #f4516e, #e16ec2, #9d97f8, #39b7ff, #18cbe5);
    height: auto;
    min-height: 75vh;
}

.cart-nfts hr{
    height: 1px;
    background: white;
    border: 0;
    width: 70%;
    margin: auto;
}

.cart-nfts p{
    max-width: 110px;
    text-align: center;
}

.cart-nfts-layout{
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
}

@media (max-width: 1450px) {
    .cart-nfts-layout{
      flex-direction: column;
      gap: 20px;
    }
  }

.cart-nfts-layout p{
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.cart-nfts-image{
    width: 200px;
    height: 200px;
}

.cart-remove{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.cart-remove:hover{
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }





