.cart-nfts{
    background-image: linear-gradient(to right, #f4516e, #e16ec2, #9d97f8, #39b7ff, #18cbe5);
    height: auto;
    min-height: 75vh;
}

.cart-nfts hr{
    height: 1px;
    background: white;
    border: 0;
    width: 70%;
    margin: auto;
}

.cart-nfts p{
    max-width: 120px;
    text-align: center;
}

.cart-nfts-layout{
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
}

.cart-nfts-layout p{
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.cart-nfts-image{
    width: 7%;
    height: 20%;
}

.cart-remove{
    width: 45%;
    height: 20%;
    cursor: pointer;
}

.cart-remove:hover{
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }



/*
.cart-items-display{
    display: flex;
    justify-content:center;
    gap: 320px;
    font-size: 22px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
}
*/



