.quote-body{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
    padding-top: 120px;
    padding-bottom: 150px;

}

.quote{
    max-width: 800px;
    align-items: center;
}