.cart-total{
    height: 100%;
    background-image: linear-gradient(to right, #f4516e, #e16ec2, #9d97f8, #39b7ff, #18cbe5);
}

.cart-total button{
    width: 350px;
    height: 70px;
    border: none;
    background: red;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
}

.cart-total button:hover{
    transition-duration: 0.5s;
    background-color: #ff4d4d;
}

.cart-total button:active{
    box-shadow: 0 5px black;
    transform: translateY(25px);
}

.cart-nfts-total{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 20px;
 }

 .cart-nfts-total p{
    font-size: 32px;
    font-weight: 600;
 }