@media (max-width: 1700px) {
    .nft-specific-body {
      flex-direction: column;
    }
  }


.nft-specific-body{
   min-height: 100vh;
   height: 100%;
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   gap: 100px;
   margin: 0;
   padding: 35px;

}

.nft-specific-body img{
    min-height: 600px;
    min-width: 600px;
    height: auto;
    width: auto;
}

.nft-specific-body .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: auto;
}

.nft-specific-body .right h1{
    font-size: 40px;
}

.nft-specific-body .right-p{
    font-size: 30px;
    text-align: center;
    max-width: 900px;
    padding: 30px;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
        linear-gradient(
      to bottom, 
      #33d6ff,
      #1F2937
    ) 1 100%;
}

.nft-specific-body .right p{
    font-size: 30px;
    color: white;
}

.right button{
    width: 350px;
    height: 70px;
    border: none;
    background: #0099cc;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
}

.right button:hover{
    transition-duration: 0.5s;
    background-color: #33d6ff;
}

.right button:active{
    box-shadow: 0 5px black;
    transform: translateY(25px);
}