.display{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    gap: 130px;
}

.display img{
    width: 300px;
    margin-bottom: 25px;
}

.title{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 35px;
}