.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-logo img{
    height: 300px;
    width: 300px;
    margin-left: 40px;
}

  .navbar-pages {
    display: flex;
    list-style: none;
    gap: 50px;
  }

  .navbar-pages li {
    cursor: pointer;
    max-width: 200px;
    font-size: 25px;
    text-align: center;
  }

  .navbar-cart {
    margin-left: auto;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-pages {
      flex-direction: column;
      align-items: center;
    }

    .navbar-cart {
      margin-top: 1rem;
    }
  }

  a:link{
    text-decoration: none;
}

a:visited{
    color: inherit;
}