/*
*{
    margin-bottom: -26px;
    margin-top: -15px;
}
*/

.navbar{
    display: flex;
    justify-content: space-between;
  
    margin-bottom: -70px;
    margin-top: -70px;
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo img{
    height: 300px;
    width: 300px;
    margin-left: 40px;
}

.navbar-pages{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 45px;
    gap: 120px;
    color: black;
}

.navbar-pages li{
    cursor: pointer;
}

.navbar-cart img{
    height: 25%;
    width: auto;
}

.cart-icon{
    display: flex;
    align-items: center;
    height: 300px;
    width: 300px;
    margin-left: 40px;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: inherit;
}
