.cart-banner{
    display: flex;
    justify-content: space-around;
    
}

.cart-banner img{
    height: 200px;
    padding: 0 25px;
    padding-bottom: 15px;
}

.cart-banner .left{
    padding: 30px 20px;
}

@media (max-width: 800px) {
    .cart-banner{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 30px;
      padding-bottom: 20px;
      padding-right: 40px;
    }

    .cart-banner .safe{
        width: 100%;
    }
  }