
.footer-socials img{
    height: 90px;
    width: 90px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #E5E7EB;
    margin-top: -20px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 200px;
    font-size: 28px;
}

.footer-socials{
    display: flex;
    gap: 100px;
}