
.footer-socials img{
    height: 60px;
    width: 60px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #E5E7EB;
    margin-top: -20px;
}

.footer-logo{
    padding: 0 30px;
    flex-grow: 1;
}

.footer-copyright{
    flex-grow: 1;
}

.footer-links{
    display: flex;
    list-style: none;
    flex-grow: 1;
    gap: 50px;
    font-size: 28px;
}

.footer-socials{
    padding: 0 30px;
    display: flex;
    gap: 100px;
}

.footer-links a:link{
    color: black;
    text-decoration: none;
}

@media (max-width: 1250px) {
    .footer{
      flex-direction: column;
      gap: 30px;
      padding-bottom: 30px;
    }
  }


